.header{
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
    box-sizing: border-box;
    
}
.nav{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px , 30px;
}
.search-box input{
    border-radius: 2px;
    border: 1px solid rgb(8, 108, 196);
    padding-right:52px ;
}
.button-style{
    background-color: #333333;
    color: whitesmoke;
    padding-right:10px ;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #333333;
}
.button-style:hover{
    background-color: orange;
    border: 2px solid orange;
}
.a-style{
    padding-right: 15px;
    text-decoration: none;
    color: black;

}
.a-style:hover{
    color: orange;
}